<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="caret-forward-circle"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-buttom">
      <ion-input placeholder="Email Id"  type="email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is required.</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-buttom">
      <ion-input placeholder="password" type="password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Minimum lenght is six(6).</ion-note>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
    <!-- <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentials.valid">Register</ion-button> -->
    <ion-button expand="full" type="button" [routerLink]="'register'" >Register</ion-button>

  </form>
</ion-content>